/*
 * SCSS
 * Serve landing.php only.
 * 
 * Debug: https://ptechstore.000webhostapp.com/css/style.php/style.scss;
 * 
 * Author: Wanyi 
 * Date: ; 
 */



.form {

	.error { color: red; }
	.success { color: green; }
	label { font-weight: bold; }
	
}


