/*
 * SCSS
 * Serve landing.php only.
 * 
 * Debug: https://ptechstore.000webhostapp.com/css/style.php/style.scss;
 * 
 * Author: Wanyi 
 * Date: ; 
 */


.products {
	
	&.navcat {
		position: relative;
		/*background-color: $grey;*/

		button {
			background-color: transparent;
			border: 0; border-radius: 0;
			text-transform: uppercase;
			outline: none; 

			&:hover { text-decoration: underline; cursor: pointer; }

			&.is-checked {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}

	&.listing {
		ul.grid {
			padding-left: 0;

			&.offour {
				li {
					list-style: none; margin-bottom: 50px;

					> div {
						position: relative; 
						margin-bottom: 30px;
						transition: $trans;
						border: 1px solid $grey;
						overflow: hidden;

						input[type="submit"] {
							position: absolute; width: 100%; height: 100%;
							border: 0; display: block;
							background-color: transparent;
							font-size: 0;
							cursor: pointer;
						}

						.image {
							width: 100%; height: 250px;
							background-color: $white;
							background-size: cover;
						}

						.content {
							background-color: $dark; color: $white;
							padding: 15px;

							.title { font-weight: bold; }
							.price { color: $primary; }
							
						}

						&:hover {
							@include box-shadow(0px, 0px, 25px, 0, rgba(0,0,0,.1), false);
							transition: $trans;
						}
					}
					
				}
			}
		}
	}

}